body{
    background-color: #7cfc00;
    background-image: url(../Imagens/As\ Branquelas.webp);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    Margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

    
}

#paginaInicial{

}